.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    
  }
  .card {
   background-color: rgba(197, 196, 249, 0.433);
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin-top: -150px;
    margin: bottom 40px; ;
  }
  .card__header{
    Text-align:center;
    grid-column: span 2;
  }
 
  .clearSky{
    width: 100%;
    height: 40rem;
    padding-top: 20rem;
    display: flex;
    background: url(./img/sunsetride_kfltwkyb.gif); 
    justify-content: center;
  
  }
  .thunderstorm{
    background: url(./img/tormentas-electricas-Gifmaniacos.es-8.gif)
  }
  .drizzle{
  background:url(./img/lluvia_7f8ta2uw.gif) 
  }
 .Rain{
  background:url(./img/lluvia_7f8ta2uw.gif)
 }
 .brokenclouds{
  background:url(./img/nublado.gif)
 }
 
 
  .backgd {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .card__button{
    padding: 10px;
    color:rgb(255, 255, 255);
    background-color: rgb(17, 143, 201);
    border: none;
    cursor: pointer;
    border-radius: 8px;
     font-size: 1rem;
    box-shadow: 4px 4px 4px 3px rgb(134, 195, 219);
    grid-column: span 2;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
  
  }
  .card__button:hover{
  transform: scale(1.04);
  }
  .card__button:active{
    transform: scale(1);
    box-shadow: 1px 1px 5px rgb(134, 195, 219);
  }
  .card__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    
    .card__description{
        margin-bottom: 20px;
    }
    
    .card__list{
    display: grid;
    gap: 7px;
    }
    
    .card__item{
    color: antiquewhite;
    }
    
    .card__span{
    color: rgb(7, 82, 144);
    font-weight: 900;
    }
    
    .card__temperature{
    grid-column: span 2;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    }    